@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 348 60% 94%;
    --foreground: 240 10% 3.9%;
    --card: 240 67% 97%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 67% 97%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 279 100% 57%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 60% 90%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 240 60% 95%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 60% 90%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 20% 88%;
    --input: 240 20% 88%;
    --ring: 279 100% 57%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 4% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 279 100% 70%;
    --primary-foreground: 279 10% 10%;
    --secondary: 240 4% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 15%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 4% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 15%;
    --input: 240 4% 15%;
    --ring: 279 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .period .rdp-button {
    @apply bg-primary/20 text-primary-foreground;
  }
  .period .rdp-button:hover {
     @apply bg-primary/30;
  }
  .period.rdp-day_today .rdp-button {
     @apply ring-primary;
  }

  .predicted .rdp-button {
    @apply border border-dashed border-primary/50;
  }
  
  .fertile .rdp-button {
    @apply bg-accent;
  }
  .fertile .rdp-button:hover {
    @apply bg-accent/80;
  }
}
